obstacle_type: simulated
algorithm: pfm
visualize: true
pfm:
  attraction_strength: 0.001
  attraction_distance: 0.1
  repulsion_strength: 0.000001
  repulsion_distance: 0.1
  min_rep_z_translation: 0.00003
simulated_obstacle:
  rcm: [ 0.6,0,0.43 ]
  waypoints: [ 0.3,-0.2,0.4 ,0.4,0.2,0.1, 0.2,0,0.2, 0.1,0.1,0.3 ]
  speed: 0.04