obstacle_type: simulated
algorithm: pfm
visualize: true
pfm:
  attraction_strength: 10e-4
  attraction_distance: 0.1
  repulsion_strength: 10e-4
  repulsion_distance: 0.15
  z_translation_strength: 10e-5
  min_rcm_distance: 0.05
simulated_obstacle:
  rcm: [ 0.6,0,0.43 ]
  waypoints: [ 0.3,-0.2,0.4 ,0.4,0.2,0.1, 0.2,0,0.2, 0.1,0.1,0.3 ]
  speed: 0.15
rl:
  type: dqn
  train: true
  interval_duration: 30 #ms
