<?xml version="1.0"?>
<launch>
    <arg name="config" default="$(find control_force_provider)/default.config"/>
    <arg name="rviz" default="false"/>
    <arg name="remote_address" default=""/>
    <arg name="remote_user" default=""/>
    <arg name="remote_env" default=""/>

    <param name="control_force_provider/config" value="$(arg config)" type="str"/>

    <node pkg="control_force_provider"
          type="rl_training"
          name="rl_training"
          respawn="false" output="screen"/>

    <machine name="remote"
             address="$(arg remote_address)"
             user="$(arg remote_user)"
             env-loader="$(arg remote_env)"/>

    <node pkg="rviz" type="rviz" machine="$(eval 'remote' if arg('remote_address') != '' else '')" output="screen" name="rviz" args="-d $(find control_force_provider)/launch/rviz/description.rviz" if="$(arg rviz)"/>
</launch>
